html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

*, 
*:before, 
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

p {
    margin: 0 0 5px;
}

.wrapper {
    max-width: 300px;
    margin: 0 auto;
     }

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
}
.meme-item {
    border-top: 2px solid #455656;
}

.memes {
    margin-top: 20px;
}

.meme-title {
    display: flex;
    justify-content: space-between;
    color: blue;
    cursor: pointer;
    padding: 10px 15px;
    position: relative;
}
/*.meme-title:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: blue
    transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}*/

.meme-image {
    display: none;
    padding: 10px 15px;
    text-align: center;
}

.meme-input {
    position: absolute;
    width: 0;
    height: 0;
    
}

.icon {
    display: none;
    width: 1.6rem;
}
.meme-input:checked ~ .icon {
    transition: transform .35s;
    transform: rotate(45deg);
}

.meme-input:checked ~ .meme-image {
    display: block;
}

.meme-input:checked ~ .meme-title {
    color: black;
}

@media (min-width: 820px) {
    .meme-title:hover {
        color: rgb(126, 30, 129);
        transition: .2s ease;
    }
    
    .wrapper {
        max-width: 800px;
        margin: 0 auto;
         }

}

@media (min-width: 1020px) {
    .meme-title {
        transition: background .2s ease-out;
    }
    .meme-input:hover ~ .meme-image {
        color: #ffffff;
        display: block;
        transition: 2s ease-out;
    }
    .wrapper {
        max-width: 1000px;
        margin: 0 auto;
         }

}