html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

p {
    margin: 0 0 5px;
}

.wrapper {
    max-width: 300px;
    margin: 0 auto;
     }

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
}
.meme-item {
    border-top: 2px solid #455656;
}

.memes {
    margin-top: 20px;
}

.meme-title {
    display: block;
    color: blue;
    cursor: pointer;
    padding: 10px 15px;
}

.meme-image {
    display: none;
    padding: 10px 15px;
}

.meme-input {
    position: absolute;
    width: 0;
    height: 0;
}

.meme-input:checked + .meme-image {
    display: block;
}

/*@media screen {
    .meme-title {
        transition: background .2s ease-out;
    }
    .meme-title:hover {
        background-color: blue;
        color: #ffffff;
    }

}*/